@import "tailwindcss";

@theme {
  --color-win-bg: #c0c0c0;
  --color-win-white: #ffffff;
  --color-win-silver: #dfdfdf;
  --color-win-gray-dark: #808080;
  --color-win-black: #000000;
  --color-win-blue: #000080;
}

@utility border-win-out {
  border-width: 2px;
  border-color: var(--color-win-white) var(--color-win-black)
    var(--color-win-black) var(--color-win-white);
}


@utility border-win-in {
  border-width: 2px;
  border-color: var(--color-win-gray-dark) var(--color-win-white)
    var(--color-win-white) var(--color-win-gray-dark);
}

body {
  color: black;
  background-image: url("/assets/images/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.element {
  border-style: outset;
  border-width: 5px; /* Optional: adjust width */
  border-color: #c0c0c0; /* Optional: adjust color for effect */
}
